<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/images/hero.png" alt="Daniel's Cook Book Hero Image" class="d-block mx-lg-auto img-fluid" width="607" height="510" loading="lazy">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">A Huge selection of delicious recipe ideas</h1>
        <p class="lead">Explore our huge selection of delection recipes ideas including: easy desserts, family-friendly meals, quick bakes, gorgeous pasta ideas and others, which will leave you coming back for seconds.</p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/latest-recipes" class="btn btn-primary btn-dark btn-lg me-md-2">Explore Recipes</a>
            <a href="/recipe-of-the-day" class="btn btn-outline-secondary btn-lg me-md-2">Recipe of the day</a>
        </div>
    </div>
</div>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <a href="/categories" class="col text category__link">
        <div class="category__img shadow">
            <img src="/images/african-food.jpg" alt="African Food" loading="lazy">
        </div>
        <div class="pt-1">African Food Recipes</div>
    </a>
</div>